.about-section {
  padding: 2rem;
  background-color: #f8f9fa;
}

.about-heading {
  margin-bottom: 1.5rem;
  color: #273549;
}

.about-text {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #5b728a;
}

.about-cards-container {
  margin-top: 2rem;
}

.about-card {
  width: 18rem;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.card-image {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #dee2e6;
}

.about-card h5 {
  color: #273549;
}

.about-card button {
  background-color: #273549;
  border: none;
}

.about-card button:hover {
  background-color: #5b728a;
}


  
  
  