.footer-section {
    background-color: #273549;
    color: #ffffff;
    padding: 20px 0;
  }
  
  .footer-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .footer-text {
    font-size: 1rem;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-icon {
    margin-right: 8px;
    color: #f8d347;
    font-size: 1.2rem;
  }
  
  .placeholder {
    font-weight: bold;
    color: #f8d347; /* Highlight placeholders */
  }
  
  .social-media {
    margin-top: 15px;
  }
  
  .social-heading {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .social-icon-link {
    margin: 0 10px;
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .social-icon-link:hover {
    color: #f8d347;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
  }
  