:root {
  --primary-color: #273549;
  --secondary-color: #d4cdc2;
  --accent-color: #5b728a;
  --background-color: #514347;
  --highlight-color: #a27340;
  --shade-color: #a17c65;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary-color);
  padding: 20px;
}

h1 {
  color: var(--highlight-color);
}

h2 {
  color: var(--accent-color);
}

footer {
  background-color: var(--shade-color);
  color: var(--secondary-color);
  padding: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d4cdc2;
  color: #273549;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #273549;
  color: #d4cdc2;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.about, .services, .contact {
  margin: 20px 0;
  padding: 20px;
  background-color: #5b728a;
  color: #d4cdc2;
  border-radius: 8px;
}

ul {
  list-style-type: square;
  margin: 0;
  padding: 0 20px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #514347;
  color: #a17c65;
  border-radius: 8px;
}

.custom-btn {
  background-color: #a27340 !important;; /* New background color */
  border-color: #a27340 !important;    /* Match border to background */
  color: white !important;;             /* Text color */
}
.custom-btn:hover {
  background-color: #a17c65 !important; /* Hover color */
  border-color: #a17c65 !important;    /* Match hover border color */
}

